.chat_container {
  flex: 3;
  display: flex;
  border-left: 4px solid white;
  border-right: 4px solid white;
  flex-direction: column;
  height: 80vh;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 2px;
  background-color: #f5f5f500;
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid white;
  background-color: #f0f0f0;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.texts span {
  font-size: 20px;
  font-weight: bold;
}

.texts p {
  font-size: 15px;
  font-weight: 300;
  color: #333;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.center {
  padding: 20px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff7e;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message.Own {
  align-self: flex-end;
  background-color: #e0f7fa;
}

.message img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.message .texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message .texts img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.message .texts video,
.message .texts audio {
  width: 100%;
  border-radius: 10px;
}

.message .texts p {
  padding: 10px;
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 10px;
  color: white;
}

.message .texts span {
  font-size: 12px;
  color: #666;
}

.bottom_comment, .bottom_presentation {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid white;
  gap: 2px;
  background-color: #f0f0f0;
}

.bottom_comment .icons, .bottom_presentation .icons {
  display: flex;
  gap: 20px;
}

.bottom_comment .icons img, .bottom_presentation .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bottom_comment input, .bottom_presentation input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.emoji {
  position: relative;
}

.emoji .picker {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.SendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 60px;
  height: 35px;
}

.toggle_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.toggle_buttons button {
  padding: 10px 20px;
  background-color: #5183fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle_buttons button.active {
  background-color: #5182fe5d;
}