/*ikootaclient\src\components\iko\list.css*/
.list_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    border: none; /* Remove border for transparency */
    border-radius: 0; /* Remove border radius */
    margin-right: 2px;
    background-color: transparent; /* Fully transparent background */
    color: white; /* Ensure text is visible */
  }
