


.admin_sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(216, 40, 113, 0.514);
    border-radius: 5px;
    padding: 10px;
}

.admin_sidebar_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    border: 3px solid white;
    color: white;
    margin: 5px 0;
    cursor: pointer;
}

.admin_sidebar_item:hover {
    background-color: white;
    color: goldenrod;
    border: 3px solid goldenrod;
}