.admin_container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: 3px solid goldenrod;
    border-radius: 5px;
    margin-right: 2px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(168, 43, 226, 0.514);
    border-radius: 5px;
    padding: 0 10px;

    .logo{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 1px;
        color: white;
        font-size: 1rem;

        img{
            width: 50px;
            height: 50px;
        }
    }
    .nav_page_heading{
        align-items: center;
        margin: auto;
        color: white;
        font-size: 2rem;
    }
    .nav_items{
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;
        font-size: 1.2rem;
    }
}

.admin_viewport {
    display: flex;
    flex-direction: row;
}

.admin_sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 80vh;
    width: 20%;
    background-color: rgba(168, 43, 226, 0.514);
    border-radius: 5px;
    padding: 10px;
}

.admin_sidebar_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    border: 3px solid white;
    color: white;
    margin: 5px 0;
    cursor: pointer;
}

.admin_sidebar_item:hover {
    background-color: white;
    color: goldenrod;
    border: 3px solid goldenrod;
}

.admin_controls_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    border: 3px solid goldenrod;
    padding: 10px;
}

.admin_controls_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: goldenrod;
    border: 3px solid white;
    color: white;
    margin: 5px 0;
}